[Unit]
Description=AVscan
Documentation=http://192.168.14.155:8000/root/avscan

[Service]

ExecStart=/usr/bin/python3 /home/cape/avscan/thor/serv_api.py
User=cape
Group=cape
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target